/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
	font-size: 15px;
}

header {
	height: 100px;
}

.navbar-fixed-top {
	background-color: #C4D3E6;
	opacity: 0.78;
}

p, a {
	font-family: 'Baskerville', 'DidotLTStd-Roman', 'Baskerville', 'PeignotLTStd-Light', 'Lucida Console', 'Gungsuh', 'MingLiU', 'Chick';
	font-size: 18px;
}

h2 {
	margin: 45px 20px;
	font-size: 38px;
	font-family: 'Baskerville', 'DidotLTStd-Roman', 'Montserrat', 'PeignotLTStd-Light', 'Lucida Console', 'Gungsuh', 'MingLiU', 'Chick';
}

.icon-bar {
	display: block;
	width: 25px;
	height: 2px;
	margin: 5px auto;
	background-color: gray;
}

.navbar-nav {
	background-color: #C4D3E6;
	opacity: 0.78;
}

.btn-link {
  color: black;
}

.btn-ghost {
  background: #F7F9FC;
  color: black;
}

.post_content {
	padding-top: 20px;
}

.border-form {
	max-width: 600px;
	padding: 25px 30px 25px;
	margin: 60px auto;
	background-color: white;
	-moz-border-radius: 1px;
}

body {
	background-color: #F7F9FC;
}

li a{
	color: black;
	margin: 30px 15px;
}

.search {
	margin-top: 40px;
}

.border-form input {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.search-wrapper {
  position: relative;
  background: darken(#3498db, 15%);
  border-radius: 20px;
  transform-origin: 100% 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 250ms ease;
  
  &.focused {
    width: 200px;
    
    input {
      padding: 0 40px 0 13px;
      width: 100%;
      transform: scale(1);
    }
  }
  
  input {
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    height: 40px;
    width: 0;
    overflow: hidden;
    font-weight: 100;
    transform: scale(0);
    transform-origin: 0 50%;
    transition: 275ms ease;
    
    &::placeholder {
      color: #cccccc;
    }
  }
  
  i {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
  }
}

.sign_up_form, .sign_in_form, .edit_form {
	margin: 30px 20px;
}

.h2-footer {
	color: white;
	font-size: 28px;
	margin: 30px 25px;
}

footer {
	background-color: #3B404A;
    bottom: 0;
    width: 100%;
}