/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 *= require bootstrap-tagsinput
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

html {
	font-size: 15px;
}

header {
	height: 100px;
}

.nav-bar-nav {
	background-color: #C4D3E6;
	opacity: 0.78;
	margin-bottom: 15px;
}

p, a {
	font-family: 'Baskerville', 'DidotLTStd-Roman', 'Baskerville', 'PeignotLTStd-Light', 'Lucida Console', 'Gungsuh', 'MingLiU', 'Chick';
	font-size: 18px;
}

h2 {
	margin: 45px 20px;
	font-size: 38px;
	font-family: 'Baskerville', 'DidotLTStd-Roman', 'Montserrat', 'PeignotLTStd-Light', 'Lucida Console', 'Gungsuh', 'MingLiU', 'Chick';
}

.icon-bar {
	display: block;
	width: 25px;
	height: 2px;
	margin: 5px auto;
	background-color: gray;
}

.navbar-nav {
	background-color: #C4D3E6;
	opacity: 0.78;
}

.btn-link {
  	color: black;
}

.btn-ghost {
	  background: #F7F9FC;
	  color: black;
}

.post_content {
	padding-top: 20px;
}

.border-form {
	max-width: 600px;
	padding: 25px 30px 25px;
	margin: 60px auto;
	background-color: white;
	-moz-border-radius: 1px;
}

body {
	background-color: #F7F9FC;
}

li a{
	color: black;
	margin: 30px 15px;
}



.sign_up_form, .sign_in_form, .edit_form {
	margin: 30px 20px;
}

.h2-footer {
	color: white;
	font-size: 28px;
	margin: 30px 25px;
}

footer {
	background-color: #3B404A;
    bottom: 0;
    width: 100%;
    padding-bottom: 60px;
}

.contact_link {
	margin-left: 25px;
}

/*検索フォーム*/
.search-box {
	transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	background: #ebebeb;
}

.search-box + label .search-icon {
	color: black;
}

.search-box:hover {
	color: white;
	background: #c8c8c8;
	box-shadow: 0 0 0 5px #3d4752;
}

.search-box:hover + label .search-icon {
	color: white;
}

.search-box:focus {
	transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
	border: none;
	outline: none;
	box-shadow: none;
	padding-left: 15px;
	cursor: text;
	width: 300px;
	border-radius: auto;
	background: #ebebeb;
	color: black;
}

.search-box:focus + label .search-icon {
	color: black;
}

.search-box:not(:focus) {
	text-indent: -5000px;
}

#search-submit {
	position: relative;
	left: -5000px;
}

.submit-li {
	list-style: none;
}

.search-icon {
	position: relative;
	left: -30px;
	color: white;
	cursor: pointer;
}