// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show_user {
	text-align: center;
}

.users_follow {
	margin-top: 60px;
}

.top-user-container {
	padding: 0 30px;
}

.user-container {
	text-align:center;
	margin: 50px 50px;
}

.user {
	height: 240px;
	width: 100%;
}

.follow-btn {
	margin-top: 15px;
}

/* スマートフォンサイズ(425px)程度の画面の大きさ以下 */
@media screen and (max-width:425px) {
.users_follow {
    text-align: center;
    }
}